$header-height-phone: 64px;
$header-height-tablet: 72px;
$header-height-pc: 90px;

$header-padding-phone: 24px;
$header-padding-tablet: 56px;
$header-padding-pc: 56px;

$padding-inline-phone: 24px;
$padding-inline-tablet: 24px;
$padding-inline-pc: 32px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1024px;

$blue-gradient-stop-1: #2568e6;
$blue-gradient-stop-2: #153e99;
$blue-gradient-stop-3: #11287d;

$yellow-gradient-stop-1: #f9d389;
$yellow-gradient-stop-2: #f5b333;

$yellow-block-color: #f9d389;

$footer-color: #2f3b52;

$color-text: #0f0f10;

$color-white: #ffffff;
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-300: #d1d5db;
$color-gray-500: #6b7280;
$color-gray-700: #374151;
